* {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*------START BODY-----*/

body {
    background-color: white;
}

.desc {
    background-color: #1CD1B0;
    font-size: 14px;
    padding-left: 45px;
    height: 3vh;
}

.home {
    height: 53px;
}

.card {
    display: flex;
    align-items: center;
    background-color: #00669F;
    font-size: 28px;
    height: 10vh;
    color: #F3F3F3;
    padding-left: 30px;
}

.img-home:hover {
    background-color: #00669F;
}

.img-home:link {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    background-color: #001D2D;
}

li {
    padding: 5px 15px;
}

a {
    color: white;
}

.fa-plus-circle {
    position: fixed;
    font-size: 40px;
    color: #00669F;
    right: 20px;
    top: 300px;
}

.main-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    background-color: white;
    padding-top: 60px;
    padding-bottom: 40px;
}

.secciones {
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 420px;
    margin-bottom: 30px;
    box-shadow: 0 7px rgba(0, 0, 0, 0.1);
}

.fa-heart {
    position: absolute;
    color: rgba(255, 0, 0, 0.8);
    font-size: 40px;
    padding-left: 5px;
    padding-top: 5px;
}

.per-rel {
    position: relative;
}

.absolute {
    position: absolute;
    width: 120px;
    height: 118px;
    left: 70px;
    top: 60px;
    border-radius: 50%;
}

.fondo {
    width: 270px;
    height: 130px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

h1 {
    margin-top: 50px;
}

p {
    margin-top: 0px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.ver-mas {
    padding: 10px;
    text-align: center;
    background-color: #00669F;
    color: white;
    border-radius: 2px;
    margin-bottom: 8px;
}

a:link {
    text-decoration: none;
}

a:hover {
    background-color: #050505;
    color: rgb(226, 251, 0);
}

a:visited {
    text-decoration: none;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #00669F;
    padding: 0% 30px 0px 10px;
    height: 60px;
}

.t-pie {
    font-size: 18px;
    color: white;
}

.git {
    position: absolute;
    width: 70px;
    height: 20px;
    right: 80px;
}

@media (max-width:480px) {
    .t-pie {
        font-size: 9px;
    }
    .git {
        position: absolute;
        width: 70px;
        height: 20px;
        right: 20px;
    }
}

@media (max-width:653px) {
    .t-pie {
        font-size: 12px;
    }
}