* {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*------START BODY-----*/

body {
    background-color: white;
    height: 100vh;
}

.desc {
    background-color: #1CD1B0;
    font-size: 14px;
    padding-left: 45px;
    height: 3vh;
}

.card {
    display: flex;
    align-items: center;
    background-color: #00669F;
    font-size: 28px;
    height: 10vh;
    color: #F3F3F3;
    padding-left: 30px;
}

/*------START MAIN-----*/

main {
    height: 77vh;
    background-image: url("../img/queen-2.svg");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secciones {
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 380px;
    margin-top: 68px;
    box-shadow: 0 7px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.fa-heart {
    position: absolute;
    color: rgba(255, 0, 0, 0.8);
    font-size: 40px;
    padding-left: 5px;
    padding-top: 5px;
}

.per-rel {
    position: relative;
    width: 100%;
}

.absolute {
    position: absolute;
    width: 120px;
    height: 118px;
    left: 180px;
    top: -80px;
    border-radius: 50%;
}

h1 {
    margin-top: 50px;
}

.arm {
    margin-top: 10px;
}

.armas {
    height: 50px;
}

p {
    margin-top: 25px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C0187;
    color: white;
    width: 100%;
    height: 30%;
    margin-top: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: rgb(251, 17, 0);
}

a:visited {
    text-decoration: none;
}

/*------END MAIN-----*/

/*------END BODY-----*/

/*------START FOOTER-----*/

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #00669F;
    padding: 0% 30px 0px 10px;
    height: 10vh;
}

.t-pie {
    font-size: 18px;
    color: white;
}

.git {
    position: absolute;
    width: 70px;
    height: 20px;
    right: 80px;
}

/*------START FOOTER-----*/

/*------START MEDIA QUERIES-----*/

@media (max-width:480px) {
    .t-pie {
        font-size: 9px;
    }
    .git {
        position: absolute;
        width: 70px;
        height: 20px;
        right: 20px;
    }
}

@media (max-width:653px) {
    .t-pie {
        font-size: 12px;
    }
}

/*------END MEDIA QUERIES-----*/